.classes-container {
    background: #e6efe9 !important; 
    padding: 50px 122px;
}

.anchor-link {
    color: #212529;
    text-decoration: underline;
}

 @media screen and (max-width: 787px) {
    .classes-container {
        padding: 20px;
    }
 }