.contact-page{
   /* height: 75vh; */
    background: #eee !important;
    padding: 50px 122px;
}


form {
    margin-top: 30px;;
}

.btn-block {
    width: 100%;
    background-color: #26433b;
    color: #e6efe9;
   margin-top: 20px;
}

.btn-block:hover {
    background-color: #e6efe9;
    color: #26433b;
    border: 1px solid #26433b;
}

@media screen and (max-width: 768px) {
    .contact-page {
        height: 90vh;
        padding: 10px;
    }
}