.helen-footer {
    background-color: #26433b !important;
 }


.footer-logo {
    width: 200px;
    height: auto;
    margin: 10px 0 20px 0;
 }
 .footer-links {
    list-style-type: none;
    padding-top: 25px !important;
 }

 .footer-links li a {
    color: #e6efe9 !important;
    text-decoration: none;
    font-family: 'Abhaya Libre', serif;
    font-size: 18px;
    font-weight: bold;
 }

 .footer-copyright {
    font-family: 'Abhaya Libre', serif;
    font-size: 16px;
    color: #e6efe9 !important;
    padding: 10px 0;
 }

.affilliation-row {
    display: flex;
    justify-content: center;
}

 .affilliation-logo {
    width: 100px !important;
    height: auto;
    margin-top: 25px;
 }

 @media screen and (max-width: 787px) {
    .logo-column {
        display: flex;
        align-items: center;
    }
    .footer-logo {
        width: 100px;
        margin: 0
    }
    .footer-links li a {
        font-size: 16px;
    }
    .footer-copyright {
        font-size: 14px;
    }
    .logo-footer-link {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .footer-links {
        text-align: center;
    }

    .affilliation-logo {
    width: 90px !important;
    height: auto;
    margin-top: 25px;
 }
 }