.homepage-text {
    padding: 50px 122px;
    color: #111 !important;
    background: #e6efe9 !important; 
}

h1 {
    color: #26433b !important;
}

h2 {
    color: #26433b !important;
}
@media screen and (max-width: 768px) {
    .homepage-text {
        padding: 20px;
    }
}
