/* Fix the navbar to the top of the screen */

/*.navigation {
    
    top: 0; 
    left: 0;
    z-index: 10;
} */
  /* Optional: Prevent content from hiding under the navbar */
/*  .navCol {
    display: flex;
    justify-content: center;
  } */

 /* .navButton {
    background: transparent !important;
    min-width: 150px;
    backdrop-filter: blur(20px);
    border-radius: 0 !important;
    
  } */
  
 /* .navButton a {
    color: #000 !important;
    text-decoration: none;
    font-family: 'Abhaya Libre', serif;
    font-size: 25px;
    font-weight: bold;
  }

 .btn-primary {
    border: none !important;
  }

.navbar-row {
  width: 100vw;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  }
*/
  .helen-logo-navbar {
    width: 120px;
  }
  
  .nav-link {
    font-family: 'Abhaya Libre', serif;
    font-size: 25px !important;
    font-weight: bold;
  } 


  