 .post-content .image-link {
    display: flex !important;
    justify-content: center !important;
  }
.captioned-image-container img  {
    max-width: 100%;
    height: auto;
}

.accordion-button {
    color:#26433b  !important;
}

.accordion-button::after {
    color: #26433b !important;
}

/* Optional: Add responsiveness for smaller screens */
  
  /*.post-content .substack-image:hover {
    width: 100%;
    height: auto;
    object-fit: cover;
  } */

.post-content {
    border: 1.5px solid #26433b;
    padding: 20px;
}

.post-content p, .captioned-image-container figcaption {
    font-family: Lato, sans-serif;
}

.post-content h3 {
    color: #26433b ;
    font-weight: bold;
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-size: 22px;
}

.post-content h4 {
    color: #111;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

/*.post-content a {
    text-decoration: none;
    color: #111 !important;
    font-weight: bold;
} */

.accordion-body a {
    color: #26433b !important;
    font-weight: bold;
}

.post-content a:hover {
    text-decoration: underline;
    text-decoration-color: #26433b ;
}

.post-content .restack-image {
    display: none;
}

.substack-date {
    font-size: 10px;
}

.load-more-button {
    background-color: #26433b ;
    border: 1px solid #26433b ;
    font-family: Lato, sans-serif;
}

.load-more-button:hover {
    background-color: #fff;
    color: #26433b ;
    border-color: #26433b ;
}

.image-caption {
    overflow-wrap: break-word;   /* modern way */
  word-wrap: break-word;       /* legacy support */
  word-break: break-word;      /* fallback */
  max-width: 100%;             /* ensures it doesn’t go beyond container */
  white-space: normal;         /* allows wrapping */
}

p > em {
    overflow-wrap: break-word;   /* modern way */
  word-wrap: break-word;       /* legacy support */
  word-break: break-word;      /* fallback */
  max-width: 100%;             /* ensures it doesn’t go beyond container */
  white-space: normal; 
}