.work-with-me-button-container {
    margin-top: 30px;
}

.work-with-me-button {
    background-color: #26433b;
    border: 1px solid #26433b;
    font-family: Lato, sans-serif;
    color: #e6efe9 !important;
}

.work-with-me-button:hover {
    background-color: #e6efe9;
    color: #26433b;
    border-color: #26433b;
}