.row {
  margin: 0 !important;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

body, html {
  margin: 0;
  padding: 0;
  min-width: 100vw !important;
 /* min-height: 100vh !important; */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  --bs-gutter-x: 0; /* Remove horizontal gutters */
  --bs-gutter-y: 0; /* Remove vertical gutters */
}

.row {
  margin: 0 !important;
  --bs-gutter-x: 0; /* Remove horizontal gutters */
  --bs-gutter-y: 0; /* Remove vertical gutters */
}

body, html, #root {
  width: 100vw;
  margin: 0;
  padding: 0;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 100vh !important;
  margin: 0;
  padding: 0;
  position: relative;
}



@media (max-width: 768px) {
  .hero-container {
    margin: 0;
    padding: 0;
  }
  #root {
    width: 100vw;
    height: 100vh !important;
    margin: 0;
    padding: 0;
    position: relative;
    background: red; /* Debugging background */
  }
}